.ng-autocomplete{
    width: 250px;
    margin: 0;
    padding: 1px;
    padding-right: 17px;
    background-color: rgba(0, 0, 139, 0);
}
*input {
    background-color: transparent !important;
    margin: 0;
}